.venv
cache

src/poi_env/
**/__pycache__

.bash_history
.cache/
.jupyter/
.local/
.rustup/

secrets/
app_data/cleaned_data/

src/osm_extract.py

src/output/
src/montpellier_poi_spark.json
montpellier_poi copy.json
montpellier_poi.json
montpellier_poi_filtered.json
montpellier_poi.csv

notes.md

.ipynb_checkpoints/

# macOS system files
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon

# Thumbnails
._*

# macOS metadata
.Spotlight-V100
.Trashes

**/anal

**/test_user_generator.py

logs/scheduler/*
