.venv
cache

src/osm_extract.py

src/output/
src/montpellier_poi_spark.json
montpellier_poi copy.json
montpellier_poi.json
montpellier_poi_filtered.json
montpellier_poi.csv

notes.md

.ipynb_checkpoints/

# macOS system files
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon

# Thumbnails
._*

# macOS metadata
.Spotlight-V100
.Trashes